.credit {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 13px;
  margin: 25px auto;
}

a {
  text-decoration: none;
}

.search-form {
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
}

.images {
  width: 1500px;
  margin: auto;
}

img {
  max-width: 360px;
  border-radius: 5px;
  margin: 10px 0;
}

@media (max-width: 1400px) {
  .search-form {
    margin: 0 auto;
  }

  .credit {
    margin: 20px auto;
    font-size: 13px;
  }

  img {
    max-width: 270px;
    border-radius: 5px;
  }

  .images {
    max-width: 1200px;
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .search-form {
    max-width: 800px;
    margin: 0 auto;
  }

  .credit {
    max-width: 750px;
    margin: 20px auto;
    font-size: 12px;
  }

  img {
    max-width: 250px;
    border-radius: 5px;
  }

  .images {
    max-width: 800px;
    margin: auto;
  }
}

@media (max-width: 900px) {
  .search-form {
    max-width: 530px;
    margin: 0 auto;
  }

  .credit {
    max-width: 480px;
    margin: 20px auto;
    font-size: 12px;
  }

  img {
    max-width: 250px;
    border-radius: 5px;
  }

  .images {
    max-width: 530px;
    margin: auto;
  }
}

@media (max-width: 749px) {
  .search-form {
    width: 400px;
    margin: 0 auto;
    font-size: 12px;
  }

  .credit {
    max-width: 350px;
    margin: 20px auto;
  }

  img {
    max-width: 400px;
    border-radius: 5px;
  }

  .images {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .search-form {
    width: 380px;
    margin: 0 auto;
  }

  .credit {
    max-width: 330px;
    margin: 20px auto;
    font-size: 10px;
  }

  img {
    max-width: 380px;
    border-radius: 5px;
  }

  .images {
    max-width: 380px;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .search-form {
    width: 300px;
    margin: 0 auto;
  }

  .credit {
    max-width: 250px;
    margin: 20px auto;
    font-size: 10px;
  }

  img {
    max-width: 300px;
    border-radius: 5px;
  }

  .images {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 300px) {
  .search-form {
    width: 240px;
    margin: 0 auto;
  }

  .credit {
    max-width: 230px;
    margin: 20px auto;
    font-size: 9px;
  }

  img {
    max-width: 240px;
    border-radius: 5px;
  }

  .images {
    max-width: 240px;
    margin: 0 auto;
  }
}
